#second
    .box
        display: flex
        justify-content: space-around
        margin: 70px 0px
        .minibox
            border: 8px solid #88637b
            background-color: #88637b
            width: 270px
            height: 130px
            border-radius: 10px
            transition: 1.5s
            &:hover
                background-color: #474354
            h1
                color: #ffffff
                font-size: 35px
                text-align: center
                margin-top: 10px
    @media screen and ( max-width: 800px )
        .box
            .minibox
                width: 190px
                height: 81px
                border: 8px solid #7384c0
                background: #7384c0
    @media screen and ( max-width: 600px )
        .box
            display: flex
            flex-direction: column
            .minibox

     @media screen and ( max-width: 500px )

