#third
    padding: 60px 0 0 0
    .box

        display: flex
        justify-content: space-around
        .minibox
            width: 150px
            height: 150px
            border: 2px solid #c4c486
            background-color: #c4c486
            border-radius: 85px
            display: flex
            justify-content: center
            align-items: center
